{% extends "layout.html" %}
{% block content %}
 <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>SIGN UP!</h5>
                        </div>

                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <div class="form-group">
                               <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email or User Name">-->
                                First Name
                                  {% if form.first.errors %}
                                    {{ form.first(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.first.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                             </div>
                                            {% else %}
                                            {{ form.first(class="form-control form-control-lg") }}
                                            {% endif %}
                                 <div class="form-group">
                               <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email or User Name">-->
                               Last Name
                                {% if form.last.errors %}
                                    {{ form.last(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.last.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                             </div>
                                            {% else %}
                                            {{ form.last(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                 <div class="form-group">
                               <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email or User Name">-->
                                Email id
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                             </div>
                                            {% else %}
                                            {{ form.email(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                 <div class="form-group">
                               <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email or User Name">-->
                                Password
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                             </div>
                                            {% else %}
                                            {{ form.password(class="form-control form-control-lg") }}
                                            {% endif %}
                                </div>
                                 <div class="form-group">
                               <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email or User Name">-->
                                Confirm Password
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                             </div>
                                            {% else %}
                                            {{ form.confirm_password(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                </fieldset>
                            <div class="form-group">
                            {{ form.submit(class="btn mag-btn mt-30") }}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock content %}
